<h2>About Us</h2>
<br />
<p>We help Employees love their work and advance their career.</p>
<p>We change the World through personalized services!</p>

<div style="display:flex;justify-content:space-around;text-align:center">
	<div>
		<img src="https://img.freepik.com/free-vector/award-ribbon-check-mark-with-stars-gradient-style_78370-1098.jpg?ga=GA1.1.257778340.1748502856&semt=ais_hybrid&w=740" width="150px"height="150px" alt="Alternate Text" />
		<h5>Best Quality</h5>
	</div>
	
	<div>
		<img src="https://img.freepik.com/free-vector/organic-flat-feedback-concept-illustrated_23-2148951369.jpg?ga=GA1.1.257778340.1748502856&semt=ais_hybrid&w=740" width="150px" height="150px" alt="Alternate Text" />
		<h5>High Standard</h5>
	</div>
	
	<div>
		<img src="https://img.freepik.com/free-vector/completed-concept-illustration_114360-3891.jpg?ga=GA1.1.257778340.1748502856&semt=ais_hybrid&w=740" width="150px" height="150px" alt="Alternate Text" />
		<h5>Exceeding Expectations</h5>
	</div>

</div>

<h4>Our Team</h4>
<ol>
	<li>Max    - CEO</li>
	<li>Anny   - CTO</li>
	<li>Mathew - Manager</li>
	<li>Tim    - Team Lead</li>
	<li>John   - Hr</li>
</ol>