<h2>Contact Us</h2>
<br />
<div> 
<p>
	We are here to help and answer any questions you might have.
</p>
<p> We look forware to hear from you!</p>
	<img src="https://img.freepik.com/premium-vector/red-pin-location-icon_1319560-63863.jpg?semt=ais_items_boosted&w=740"width="50px"height="50px"
	<p>Chennai, Tamil Nadu.</p>
	<p> 
		<img src="https://img.freepik.com/free-vector/phone_53876-25489.jpg?ga=GA1.1.1475886094.1748498900&semt=ais_hybrid&w=740" width="50px" height="50px"
	<p>+91 9345750328</p>
	</p>
	
</div>