
<h2 style="text-align:center">Explore our Employees here!</h2>
<br />

<div style="background-color:mistyrose;width: 100%">
	<h4>Actions you can perform here</h4>
	<ul>
		<li>View the Employees</li>
		<li>Add a new Employee</li>
		<li>Remove an Employee</li>
		<li>Edit Employee Details</li>
	</ul>
    <br />
    <h4>Employee Statistics</h4>
    <p>Total Employees: <strong>5</strong></p>
    <p>Employees by Country:
        <ul>
            <li>India: 2</li>
            <li>USA: 1</li>
            <li>France: 1</li>
            <li>Australia: 1</li>
        </ul>
    </p>
</div>
        